<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" data-ng-model="vm.material.title" placeholder="Enter Title">
</div>
<!-- <div class="form-group">
    <label>SOM</label>
    <input type="text" class="form-control" data-ng-model="vm.material.som" placeholder="Enter SOM">
</div>
<div class="form-group">
    <label>EOM</label>
    <input type="text" class="form-control" data-ng-model="vm.material.eom" placeholder="Enter EOM">
</div> -->
<div class="form-group">
    <label>Supplier</label>
    <select name="supplier" class="form-control" ng-options="supplier.name for supplier in vm.suppliers track by supplier.id" ng-model="vm.material.supplier"></select>
</div>
{{vm.material.supplier}}
<hr> 
<div class="form-group">
    <a class="btn btn-sm btn-success" ui-sref="materials#show(vm.material)" ng-if="vm.material.id">Show</a>
    <button class="btn btn-sm btn-primary" id="save">Save changes</button>
    <a class="btn btn-sm btn-default" ui-sref="materials">List profiles</a>
</div>
