<div class="ibox-content" ng-controller="MaterialsCtrl as vm" ng-init="vm.show()">
    <div class="row">
        <div class="col-lg-12">
            <dl>
                <dt>Title :</dt>
                <dd>{{vm.material.title}}</dd>
                <dt>Duration :</dt>
                <dd>{{vm.material.duration}}</dd>
                <dt>Supplier :</dt>
                <dd>{{vm.material.supplier.name}}</dd>
                <dt>History (attribute:[change_from, change_to])</dt>
                <dd>
                    <ul class="list-unstyled">
                        <li ng-repeat="history in vm.material.history">
                            <ul class="list-group">
                                <li ng-repeat="(key,value) in history" class="list-group-item">
                                    {{key}}:{{value | date:'medium'}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <a class="btn btn-sm btn-info" ui-sref="materials#edit(vm.material)">Edit</a>
    <a class="btn btn-sm btn-default" ui-sref="materials">List Materials</a>
</div>
